@import url('https://fonts.googleapis.com/css2?family=Allura&family=Oswald:wght@600&display=swap');

/*font-family: 'Allura', cursive;*/
/*font-family: 'Oswald', sans-serif;*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: relative;
    
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    z-index: 1;
    width: 75%;
}
h1{
    margin-bottom: 5%;
    font-size: 5rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif;
}

h2{
    margin-bottom: 2%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

p{
    width: 60%;
    line-height: 1.9rem;
    word-spacing: 0.2rem;
    text-align: justify;
    font-size: 1.3rem;    
}
.no_justify {
    text-align: center;
}


.silhouette{
    position: absolute;
    z-index: -5;
    opacity: 0.9;

}
.box_silhouette{
    display: flex;
    position: relative;
    top: 20rem; 
}

.box_silhouette img{
    width: 700px;
}

.space{
    padding: 0 45rem 0 10rem;
}
.women{
    margin-right: 3rem;
}
.women img{
    transform: scaleX(-1);
}

@media all and (max-width: 2400px) {

    .space{
        padding: 0 35rem 0 10rem;
    }  
}

@media all and (max-width: 2200px) {

    .space{
        padding: 0 25rem 0 5rem;
    }
    
}

@media all and (max-width: 1950px) {
    h1{
        font-size: 3rem;
    }
    .space{
        padding: 0 25rem 0 8rem
    }
    .box_silhouette img{
        width: 500px;
    }
}
@media all and (max-width:1600px){  
    .box_silhouette{
        display: none;
    }
    article{
        width: 100%;
    }
}

@media all and (max-width: 1300px) {
    h1{
        font-size: 2rem;
    }
}

@media all and (max-width: 950px) {
    h1{
        font-size: 1.5rem;
        white-space: normal;
        text-align: center;
    }
}
@media all and (max-width: 800px) {
    h1{
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    h2{
        font-size: 1.3rem;
        white-space: normal;
        text-align: center;
    }
}
@media all and (max-width: 700px) {
    
    h2{
        font-size: 1rem;
    }
    p{
        width: 90%;
    }
}
@media all and (max-width: 500px) {
    h1{
        font-size: 1.2rem;
        letter-spacing: 0;
        width: 90%;
        margin-top: 2rem;
    }
    h2{
        font-size: 0.95rem;
        width: 90%;
        font-weight:bold;
    }
    main h1{
        margin-top: 2.5rem;
    }
    article p{
        font-size: 1rem;
        width: 90%;
    }
}