@import url('https://fonts.googleapis.com/css2?family=Allura&family=Oswald:wght@600&display=swap');

/*font-family: 'Allura', cursive;*/
/*font-family: 'Oswald', sans-serif;*/

main{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.events_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.events_title h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 4.5rem;
    margin-bottom: 2%;
}
.events_title h2{
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 2%;
}
.events_title p{
    width: 60%;
    font-size: 1.4rem;
    text-align: justify;
}
.events_img{
    display: flex;
    justify-content: space-around;
}
.events_img img{
    width: 500px;
    animation: slideBottom 1s ease 0s 1 normal forwards;
}
    
@keyframes slideBottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@media all and (max-width: 1600px){
    .events_title h1{
        text-align: center;
        width: 85%;
    }
    .events_title p{
        width: 90%;
    }
}
@media all and (max-width: 1150px){
    .events_title h1{
        font-size: 2.2rem;
    }

    .events_title h2{
        width: 85%;
        text-align: center;
        white-space: normal;
        font-size: 2rem;
        
    }

    .events_title p {
        font-size: 1.2rem;
    }

    .events_img img{
        width: 300px;
    }
}

@media all and (max-width: 900px){
    .events_title h1{
        margin-top: 2rem;
        font-size: 1.9rem;
    }

    .events_title h2{
        font-size: 1.7rem;
    }
}
@media all and (max-width: 700px){
    .events_img{
        flex-direction: column;
        align-items: center;
    }
    .events_img img{
        width: 85%;
    }
}